app/pug/index.pug
extends layout/default.pug

block variables
  - var title = "Katrine K"

block styles
  include modules/styles.pug
  link(href="../css/pages/index.min.css" rel="stylesheet")

block content
  // MAIN
  main.main
    include modules/main-banner.pug
    section.parallax
      .parallax-banner.d-lg-none(style='background-image: url("../img/parallax/parallax-bg_mobile.jpg")')
        .container.text-center
          .parallax-banner__title LOOK OF THE WEEK
            div Spring-Summer ‘20
          a(href='shop.html').link-btn-special Shop
      .parallax-swiper-container.d-lg-none
        .parallax-swiper.swiper-container
          .swiper-wrapper
            .swiper-slide
              +parallax-card('../img/parallax/cards/1.jpg', 'Embroidered Earrings', 'Multicolored Embroidered Earrings Handmade')
            .swiper-slide
              +parallax-card('../img/parallax/cards/2.jpg', 'Classic Tailored Jacket', 'Rhinestone-Embellished Midi Dress')
            .swiper-slide
              +parallax-card('../img/parallax/cards/3.jpg', 'Side-Slit Skirt', 'Assymetric Side-Slit Skirt With a Ruffled Detail')
          .swiper-pagination
      .parallax-bg.d-none.d-lg-block
        .parallax-bg__banner(style="background-image: url('../img/parallax/parallax-bg.jpg')")
        .container.text-center.position-relative
          .parallax-title LOOK OF THE WEEK
            div Spring-Summer ‘20
        .container.position-relative
          .row.justify-content-end
            .col-7
              .parallax-swiper.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/1.jpg', 'Embroidered Earrings', 'Multicolored Embroidered Earrings Handmade')
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/2.jpg', 'Classic Tailored Jacket', 'Rhinestone-Embellished Midi Dress')
                  .swiper-slide
                    +parallax-card('../img/parallax/cards/3.jpg', 'Side-Slit Skirt', 'Assymetric Side-Slit Skirt With a Ruffled Detail')
                .swiper-pagination
        .container.position-relative
          .row
            .col-6.text-center
              a(href='shop.html').link-btn-special Shop
    section.showroom(data-responsive-bg data-src-desk="../img/showroom-bg.jpg" data-src-mobile="../img/showroom-bg_mobile.jpg")
      .showroom-card.text-center
        .showroom-card__title Paris Showroom
        .showroom-card__text
          | Katrine K. Couture will be in Paris from February 26th till March 3rd, represented by Mosaique Showroom, Mona de Bismarck American Center.
          br
          | By appointments only.
        a(href='https://www.showroom-mosaique.com' target='_blank').link-btn-inverse Check the news
    section.instagram
      .container
        .instagram-title.text-center
          .instagram-title__subtitle Instagram
          a(href='https://www.instagram.com/katrine.k.couture/' target='_blank') @katrine.k.couture
        .instagram-grid
          a(href='#' data-square).d-block
            img(data-src='../img/instagram/1.png' alt='').lazy.img-cover
          a(href='#' data-square).d-block
            img(data-src='../img/instagram/2.png' alt='').lazy.img-cover
          a(href='#' data-square).d-none.d-md-block
            img(data-src='../img/instagram/3.png' alt='').lazy.img-cover
          a(href='#' data-square).d-none.d-md-block
            img(data-src='../img/instagram/4.png' alt='').lazy.img-cover
    
block scripts
  // SCRIPTS
  include modules/scripts.pug
  script(src='../js/main.min.js')
  script(src='../js/index.min.js')

app/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../img/favicon/favicon.png">
    <title>Katrine K</title>
    <link href="../libs/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="../libs/swiper/swiper.min.css" rel="stylesheet">
    <link href="../libs/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="../libs/formstyler/jquery.formstyler.css" rel="stylesheet">
    <link href="../libs/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../css/pages/index.min.css" rel="stylesheet">
  </head>
  <body>
    <!-- HEADER-->
    <header class="header">
      <div class="side-menu d-lg-none" id="sideMenu">
        <div class="side-menu-container">
          <div class="side-menu-head">
            <div class="side-menu-slideout__close"><i class="icon-down"></i></div>
            <div class="side-menu-close"><i class="icon-close"></i></div>
          </div>
          <div class="side-menu-body">
            <div class="container text-center">
              <ul class="side-menu-nav mt-4">
                <li><a href="about.html">About</a></li>
                <li><a href="boutiques.html">Boutiques</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="shop.html">Shop</a></li>
              </ul>
              <div class="side-menu-divider"></div><a class="side-menu-account" href="javascript:;" data-slideout-toggle>My account</a>
              <div class="side-menu-divider"></div>
              <ul class="side-menu-contacts">
                <li><a href="tel:+33607939590">+33607939590</a></li>
                <li><a href="mailto:sales@katrine-k.com">sales@katrine-k.com</a></li>
                <li><a href="mailto:info@katrine-k.com">info@katrine-k.com</a></li>
              </ul>
              <div class="side-menu-footer"><a class="header-lang-switch__toggle" href="javascript:;" data-toggle="popover" data-placement="top">en <i class="icon-down"></i></a>
                <div class="d-none popover-content">
                  <div class="d-flex flex-column"><a class="header-lang-switch__link active" href="#">en</a><a class="header-lang-switch__link" href="#">ru</a></div>
                </div>
                <ul class="side-menu-socials">
                  <li><a href="#"><i class="icon-fb"></i></a></li>
                  <li><a href="#"><i class="icon-insta"></i></a></li>
                  <li><a href="#"><i class="icon-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="side-menu-slideout">
            <div class="side-menu-slideout__container">
              <div class="container text-center">
                <ul class="side-menu-nav">
                  <li><a href="my-orders.html">My orders</a></li>
                  <li><a href="wishlist.html">Wishlist</a></li>
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex position-relative">
        <div class="header-left d-flex">
          <div class="side-menu-toggle d-lg-none align-self-center"></div>
          <div class="header-lang-switch d-none d-lg-flex align-items-center"><a class="header-lang-switch__toggle" href="javascript:;" data-toggle="popover" data-placement="bottom">en <i class="icon-down"></i></a>
            <div class="d-none popover-content">
              <div class="d-flex flex-column"><a class="header-lang-switch__link active" href="#">en</a><a class="header-lang-switch__link" href="#">ru</a></div>
            </div>
          </div>
          <div class="header-nav d-none d-lg-flex align-items-center">
            <ul class="header-nav__list">
              <li><a class="header-nav__link" href="shop.html" data-toggle="header-submenu" data-submenu-index="1">Shop</a></li>
              <li><a class="header-nav__link" href="about.html">About</a></li>
              <li><a class="header-nav__link" href="boutiques.html">Boutiques</a></li>
              <li><a class="header-nav__link" href="contacts.html">Contacts</a></li>
            </ul>
          </div>
        </div>
        <div class="header-center d-flex align-items-center"><a class="d-block" href="index.html"><img class="img" src="../img/logo.svg" alt=""></a></div>
        <div class="header-right d-flex justify-content-end">
          <div class="header-controls d-flex align-items-center"><a class="d-none d-lg-block header-controls__account" href="javascript:;" data-toggle="popover" data-placement="bottom"><i class="icon-account"></i></a>
            <div class="d-none popover-content">
              <ul class="popover-content__links-list">
                <li><a href="my-orders.html">My orders</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </div><a class="d-none d-lg-block header-controls__wish" href="javascript:;" data-toggle="popover" data-placement="bottom"><i class="icon-heart_f"></i></a>
            <div class="d-none popover-content">
              <div class="popover-content__subtitle text-center">Saved Items</div>
              <div class="wishlist-full-content">
                <ul class="popover-content__list">
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Odsidian dress</div>
                      <div class="info-item">€ 28.99</div>
                    </div>
                  </li>
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Pink dress</div>
                      <div class="info-item">€ 369.99</div>
                    </div>
                  </li>
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Ivory dress</div>
                      <div class="info-item">€ 137.69</div>
                    </div>
                  </li>
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Onyx dress</div>
                      <div class="info-item">€ 777.99</div>
                    </div>
                  </li>
                </ul><a class="link-btn" href="wishlist.html">View my saved items</a>
              </div>
              <div class="wishlist-empty-content d-none">
                <div class="popover-content__text text-center">You currently don't have any items in your wish list</div><a class="link-btn" href="shop.html">Shop now</a>
              </div>
            </div><a class="d-lg-none header-controls__cart" href="cart.html"><i class="icon-cart"></i><span class="cart-count">2</span></a><a class="d-none d-lg-block header-controls__cart" href="javascript:;" data-toggle="popover" data-placement="bottom"><i class="icon-cart"></i><span class="cart-count">2</span></a>
            <div class="d-none popover-content">
              <div class="popover-content__subtitle text-center">Shopping bag</div>
              <div class="cart-full-content">
                <ul class="popover-content__list cart-list">
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Odsidian dress</div>
                      <div class="info-item">QTY: 1</div>
                      <div class="info-item">price: € 28.99</div>
                      <div class="info-item">size: XS</div>
                    </div>
                  </li>
                  <li class="content__list-item"><a class="content__list-item__link" href="product.html"></a>
                    <div class="content__list-item__img"><img src="../img/wish-list.png"/></div>
                    <div class="content__list-item__info-list">
                      <div class="info-item _title">Pink dress</div>
                      <div class="info-item">QTY: 1</div>
                      <div class="info-item">price: € 369.99</div>
                      <div class="info-item">size: L</div>
                    </div>
                  </li>
                </ul>
                <div class="cart-total">
                  <div class="cart-total__text">Total</div>
                  <div class="cart-total__value">€ 398.98</div>
                </div><a class="link-btn" href="cart.html">Checkout</a>
              </div>
              <div class="cart-empty-content d-none">
                <div class="popover-content__text text-center">You currently don't have any items in your bag</div><a class="link-btn" href="shop.html">Shop now</a>
              </div>
            </div><a class="header-controls__search" href="javascript:;" title="Search"><i class="icon-search"></i><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="header-search">
          <form class="header-search__form">
            <div class="form-field">
              <input class="form-input" id="headerSearch"><i class="icon-search header-search__icon"></i>
            </div>
          </form>
          <div class="d-flex">
            <div class="w-100">
              <div class="header-search__subtitle">Trending searches</div>
              <ul class="header-search__list">
                <li><a href="shop.html">Dresses</a></li>
                <li><a href="shop.html">Tops</a></li>
                <li><a href="shop.html">Jackets</a></li>
                <li><a href="shop.html">Skirts</a></li>
              </ul>
            </div>
            <div class="w-100">
              <div class="header-search__subtitle">Whats new</div>
              <ul class="header-search__list">
                <li><a href="shop.html">Pants</a></li>
                <li><a href="shop.html">Accessories</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header-submenu">
        <div class="container">
          <div class="header-submenu-nav">
            <ul class="header-submenu-nav__list">
              <li><a class="header-nav__link" href="shop.html">Dresses</a></li>
              <li><a class="header-nav__link" href="shop.html">Suits</a></li>
              <li><a class="header-nav__link" href="shop.html">Jumpsuits</a></li>
              <li><a class="header-nav__link" href="shop.html">Trousers</a></li>
              <li><a class="header-nav__link" href="shop.html">Skirts</a></li>
              <li><a class="header-nav__link" href="shop.html">Jackets</a></li>
              <li><a class="header-nav__link" href="shop.html">Tops</a></li>
              <li><a class="header-nav__link" href="shop.html">Blouses</a></li>
              <li><a class="header-nav__link" href="shop.html">Bodysuits</a></li>
              <li><a class="header-nav__link" href="shop.html">Accessories</a></li>
              <li><a class="header-nav__link" href="shop.html">Foulards</a></li>
              <li><a class="header-nav__link" href="shop.html">Corsets</a></li>
              <li><a class="header-nav__link" href="shop.html">Shorts</a></li>
              <li><a class="header-nav__link" href="shop.html">Bags</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- MAIN-->
    <main class="main">
      <section class="main-banner">
        <div class="container position-relative d-none d-lg-block">
          <div class="main-banner-socials">
            <ul class="main-banner-socials__list">
              <li><a href="#"><i class="icon-insta"></i></a></li>
              <li><a href="#"><i class="icon-fb"></i></a></li>
              <li><a href="#"><i class="icon-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="swiper-container main-banner-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-responsive-bg="data-responsive-bg" data-src-desk="../img/main-banner/ss.jpg" data-src-mobile="../img/main-banner/ss_mobile.jpg">
              <div class="main-banner__title">Spring-summer '20</div><a class="link-btn-special" href="shop.html">Shop the<br/>collection</a>
            </div>
            <div class="swiper-slide" data-responsive-bg="data-responsive-bg" data-src-desk="../img/main-banner/aw.jpg" data-src-mobile="../img/main-banner/aw_mobile.jpg">
              <div class="main-banner__title">Fall-winter '19-20</div><a class="link-btn-special" href="shop.html">Shop the<br/>collection</a>
            </div>
            <div class="swiper-slide" data-responsive-bg="data-responsive-bg" data-src-desk="../img/main-banner/resort.jpg" data-src-mobile="../img/main-banner/resort_mobile.jpg">
              <div class="main-banner__title">Resort</div><a class="link-btn-special" href="shop.html">Shop the<br/>collection</a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="parallax">
        <div class="parallax-banner d-lg-none" style="background-image: url(&quot;../img/parallax/parallax-bg_mobile.jpg&quot;)">
          <div class="container text-center">
            <div class="parallax-banner__title">LOOK OF THE WEEK
              <div>Spring-Summer ‘20</div>
            </div><a class="link-btn-special" href="shop.html">Shop</a>
          </div>
        </div>
        <div class="parallax-swiper-container d-lg-none">
          <div class="parallax-swiper swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="parallax-card">
                  <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/1.jpg"/></div>
                  <div class="parallax-card__title">Embroidered Earrings</div>
                  <div class="parallax-card__text">Multicolored Embroidered Earrings Handmade</div><a class="link-btn-inverse" href="product.html">More</a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="parallax-card">
                  <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/2.jpg"/></div>
                  <div class="parallax-card__title">Classic Tailored Jacket</div>
                  <div class="parallax-card__text">Rhinestone-Embellished Midi Dress</div><a class="link-btn-inverse" href="product.html">More</a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="parallax-card">
                  <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/3.jpg"/></div>
                  <div class="parallax-card__title">Side-Slit Skirt</div>
                  <div class="parallax-card__text">Assymetric Side-Slit Skirt With a Ruffled Detail</div><a class="link-btn-inverse" href="product.html">More</a>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="parallax-bg d-none d-lg-block">
          <div class="parallax-bg__banner" style="background-image: url('../img/parallax/parallax-bg.jpg')"></div>
          <div class="container text-center position-relative">
            <div class="parallax-title">LOOK OF THE WEEK
              <div>Spring-Summer ‘20</div>
            </div>
          </div>
          <div class="container position-relative">
            <div class="row justify-content-end">
              <div class="col-7">
                <div class="parallax-swiper swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="parallax-card">
                        <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/1.jpg"/></div>
                        <div class="parallax-card__title">Embroidered Earrings</div>
                        <div class="parallax-card__text">Multicolored Embroidered Earrings Handmade</div><a class="link-btn-inverse" href="product.html">More</a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="parallax-card">
                        <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/2.jpg"/></div>
                        <div class="parallax-card__title">Classic Tailored Jacket</div>
                        <div class="parallax-card__text">Rhinestone-Embellished Midi Dress</div><a class="link-btn-inverse" href="product.html">More</a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="parallax-card">
                        <div class="parallax-card__img"><img class="img" src="../img/parallax/cards/3.jpg"/></div>
                        <div class="parallax-card__title">Side-Slit Skirt</div>
                        <div class="parallax-card__text">Assymetric Side-Slit Skirt With a Ruffled Detail</div><a class="link-btn-inverse" href="product.html">More</a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container position-relative">
            <div class="row">
              <div class="col-6 text-center"><a class="link-btn-special" href="shop.html">Shop</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="showroom" data-responsive-bg data-src-desk="../img/showroom-bg.jpg" data-src-mobile="../img/showroom-bg_mobile.jpg">
        <div class="showroom-card text-center">
          <div class="showroom-card__title">Paris Showroom</div>
          <div class="showroom-card__text">Katrine K. Couture will be in Paris from February 26th till March 3rd, represented by Mosaique Showroom, Mona de Bismarck American Center.<br>By appointments only.</div><a class="link-btn-inverse" href="https://www.showroom-mosaique.com" target="_blank">Check the news</a>
        </div>
      </section>
      <section class="instagram">
        <div class="container">
          <div class="instagram-title text-center">
            <div class="instagram-title__subtitle">Instagram</div><a href="https://www.instagram.com/katrine.k.couture/" target="_blank">@katrine.k.couture</a>
          </div>
          <div class="instagram-grid"><a class="d-block" href="#" data-square><img class="lazy img-cover" data-src="../img/instagram/1.png" alt=""></a><a class="d-block" href="#" data-square><img class="lazy img-cover" data-src="../img/instagram/2.png" alt=""></a><a class="d-none d-md-block" href="#" data-square><img class="lazy img-cover" data-src="../img/instagram/3.png" alt=""></a><a class="d-none d-md-block" href="#" data-square><img class="lazy img-cover" data-src="../img/instagram/4.png" alt=""></a></div>
        </div>
      </section>
    </main>
    <!-- FOOTER-->
    <footer class="footer">
      <div class="container d-flex justify-content-between align-items-start">
        <div class="footer-nav">
          <ul class="footer-nav__list">
            <li><a href="index.html">Home</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="boutiques.html">Boutiques</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="shipping.html">Shipping info</a></li>
            <li><a href="public-offer.html">Public offer</a></li>
          </ul>
        </div>
        <div class="footer-socials">
          <ul class="footer-socials__list">
            <li><a href="#"><i class="icon-insta"></i></a></li>
            <li><a href="#"><i class="icon-fb"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="container d-flex justify-content-between align-items-start mt-2">
        <div class="developers">developed by <a href="https://www.behance.net/yanylik" target="_blank">TYD</a></div>
        <div class="payments-img"><img src="../../img/payments.png"></div>
      </div>
    </footer>
    <div class="cookies"><i class="icon-close cookies-close" data-cookies-close></i>
      <div class="cookies-container">
        <div class="cookies-text">This website uses third-party profiling cookies to send advertising messages in line with your preferences. If you wish, you can authorize the use of cookies by clicking on "accept cookies". If you want more information about the cookies used,  <a class="text-underline" href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">click here</a>.</div>
        <div class="cookies-btn"><a class="link-big" href="javascript:;" data-cookies-close>Accept cookies</a></div>
      </div>
    </div>
    <!-- SCRIPTS-->
    <script src="../libs/jquery/jquery.min.js"></script>
    <script src="../libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../libs/jquery-ui/jquery.ui.touch-punch.min.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../libs/swiper/swiper.min.js"></script>
    <script src="../libs/fancybox/jquery.fancybox.min.js"></script>
    <script src="../libs/lazyload/lazyload.min.js"></script>
    <script src="../libs/notify/notify.min.js"></script>
    <script src="../libs/matchheight/jquery.matchHeight-min.js"></script>
    <script src="../libs/formstyler/jquery.formstyler.min.js"></script>
    <script src="../libs/daterangepicker/moment.min.js"></script>
    <script src="../libs/daterangepicker/daterangepicker.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/index.min.js"></script>
  </body>
</html>
